</select>
		</div>
		<div class="pub">
			<label>En ligne</label>
			<select name="published">
				<option value="1" {{publishedyes}} >Oui</option>
				<option value="0" {{publishedno}} >Non</option>
			</select>
		</div>
		<div class="buttons">
			<button type="submit" name="{{buttontext}}"  value="{{id}}">{{buttontext}}</button>
			<button type="submit" name="delete" value="{{id}}" {{buttonsuppstate}} >Supprimer</button>
		</div>
		<input type="hidden" value="footer" name="action"/>
	</form>
</div>