<form method="POST" action="#" >	
	<div class="itemAdd" datas-id="{{item.id}}" style="position: relative">
		<label>Texte mis en valeur</label><span><input type="text" name="strong[]" value="{{item.value}}" data-id="{{item.id}}" required /></span>

		<button type="button" class="btn btn-default" aria-label="delete" style="position: absolute; right: 0; padding: 3px 6px; display: none; bottom: 0;">
			  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>

		<input type="hidden" name="orderTexte[]"
		value="{{item.order}}" />
		<input type="hidden" name="idTexte[]" 
		value="{{item.id}}" />
		<input type="hidden" value="menu" name="action"/>
		<input type="hidden" name="pages" value="Gestion des Pages"  />
	</div>
</form>