<aside>
	<form method="POST" action="index.php">
		<div>
			<h4><a href="">Prévisualisation du Site</a></h4>
		</div>
		<div>
			<h4>Gestion du Site</h4>
			<ul>
				<li><input name="pages" value="Gestion des pages" type="submit" /></li>
				<li><input name="liens" value="Gestion des liens" type="submit" /></li>
				<li><input name="header" value="Gestion des header" type="submit" /></a></li>
				<li><input name="footer" value="Gestion des footer" type="submit" /></li>
			</ul>
		</div>
		<div>
			<h4><a href="compte.php">Gestion du compte</a></h4>
		</div>
		<input type="hidden" value="menu" name="action"/>
	</form>
</aside>