<div id="containerConnexion">
	<form action="#" method="POST">
		<span>Identification Admin</span>
		<label>
			<span>Login </span>
			<input type="text" name="auth_login" required>
		</label>
		<label>
			<span>Mot de passe </span>
			<input type="password" name="auth_mdp" required>
		</label>
		<span id='passwordForgeted'>Mot de passe oublié ?</span>
		<input type="hidden" value="connexion" name="action">
		<input type="submit" value="Connexion" class="bouton" name="btnConnexion">
	</form>
</div>
