<div id="liens">
	<div>{{state}}</div>
	<form method="POST" action="index.php">
		<h1>{{id}}</h1>
		<label>Description : </label><textarea name="desc" required >{{description}}</textarea>
		<label>Url : </label><span><input type="text" name="url" value="{{url}}" required /></span>
		
		<label>En ligne: </label>
		<select name="published">
			<option value="1" {{publishedyes}} >Oui</option>
			<option value="0" {{publishedno}} >Non</option>
		</select>
		<button type="submit" name="{{buttontext}}"  value="{{id}}">{{buttontext}}</button>
		<button type="submit" name="delete" value="{{id}}" {{buttonsuppstate}} >Supprimer</button>
		<input type="hidden" value="liens" name="action"/>
	</form>	
</div>