<div id="liens">
	<div>{{state}}</div>
	<form method="POST" action="index.php">
		<h1>{{id}}</h1>
		<div>
			<label>Description</label><textarea rows="1" cols="50"name="desc" required >{{description}}</textarea>
		</div>
		<div>
			<label>Url</label><span><input type="text" name="url" value="{{url}}" required /></span>
		</div>
		<div>
			<label>En ligne</label>
			<select name="published">
				<option value="1" {{publishedyes}} >Oui</option>
				<option value="0" {{publishedno}} >Non</option>
			</select>
		</div>
		<div>
			<button type="submit" name="{{buttontext}}"  value="{{id}}">{{buttontext}}</button>
			<button type="submit" name="delete" value="{{id}}" {{buttonsuppstate}} >Supprimer</button>
		</div>
		<input type="hidden" value="liens" name="action"/>
	</form>	
</div>