<div id="pages">	
	<div>{{state}}</div>
	<form method="POST" action="index.php">
		<div class="name" >
			<label>Nom</label>
			<input type="text" name="name" value="{{name}}" required />
		</div>
		<div>
			<label>Titre</label><span><input type="text" name="title" value="{{title}}" required /></span>
		</div>
		<div>
			<label>Url</label><span><input type="text" name="url" value="{{url}}" required /></span>
		</div>
		<div>
			<label>En ligne</label>
			<select name="published">
				<option value="1" {{publishedyes}} >Oui</option>
				<option value="0" {{publishedno}} >Non</option>
			</select>
		</div>
		<div>
			<label>Liens</label>
			<select multiple name="dependanceLinks[]">