<aside>
	<form method="POST" action="index.php">
		<!-- <div>
			<h4><a href="../contact.html">Prévisualisation du Site</a></h4>
		</div> -->
		<div>
			<!-- <div class="panel panel-default">
			 	<div class="panel-heading">
			    <h3 class="panel-title">Gestion du Site</h3>
			  </div>
			  <div class="panel-body">
			    <div class="list-group">
				  <input class="list-group-item" name="pages" value="Gestion des Pages" type="submit" />
				  <input class="list-group-item" name="liens" value="Gestion des Liens" type="submit" />
				  <input class="list-group-item" name="header" value="Gestion des Headers" type="submit" />
				  <input class="list-group-item" name="footer" value="Gestion des Footers" type="submit" />
				</div>
			  </div>
			</div> -->
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><h3 class="panel-title">Gestion du Site</h3></div>
			  <div class="panel-body">
			    <div class="list-group">
				  <input class="list-group-item" name="pages" value="Gestion des Pages" type="submit" />
				  <input class="list-group-item" name="liens" value="Gestion des Liens" type="submit" />
				  <input class="list-group-item" name="header" value="Gestion des Headers" type="submit" />
				  <input class="list-group-item" name="footer" value="Gestion des Footers" type="submit" />
				</div>
			  </div>

			  <!-- List group -->
			  <div class="list-group">
			    <a class="list-group-item" href="../contact.html">Prévisualisation du Site</a>
			    <a class="list-group-item" href="compte.php">Gestion du compte</a>
			  </ul>
			</div>
		</div>
		<!-- <div>
			<h4><a href="compte.php">Gestion du compte</a></h4>
		</div> -->
		<input type="hidden" value="menu" name="action"/>
	</form>
</aside>